<template>
  <div>
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <router-link to="/"
                     tag="li"
                     class="nav-item"
                     active-class="active"><a class="nav-link">Task</a></router-link>
        <router-link to="/solution"
                     tag="li" class="nav-item"
                     active-class="active"><a class="nav-link">Solution</a></router-link>
      </ul>
    </nav>
  </div>
</template>

<script>

</script>

<style scoped>
  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
  }

  .navbar-nav > li {
    display: inline-block;
    float:none;
  }
</style>
