<template>
  <div >
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h5>{{ msg }}</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      msg: 'Реализовать программу, которая бы из потока ' +
      'текстовых данных, подаваемого на вход, на выходе ' +
      'отображала только строки, содержавшие переданное ' +
      'программе слово.',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h5 {
    font-size: 1.2em;
  }
</style>
