<template>
  <div>

    <!-- /input-group -->
    <div class="inputs" v-if="switcher === 0">
      <div class="col-sm-6 col-md-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Keyword ..."
            v-model.trim="targetWord">
        </div>

        <hr>

        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Input stream ..."
            v-model.trim="inputStr">
          <span class="input-group-btn">
            <button class="btn btn-default"
                    type="button"
                    @click="check"
                    :disabled="!targetWord || !inputStr">Check!</button>
          </span>
        </div>
      </div>
    </div>
    <!-- ___________________________________ -->


    <!-- Result section -->
    <div v-else>
      <hr>
      <div class="col-sm-6 col-md-6" >

        <div class="thumbnail "
             :class="indexC | toColor">
          <div class="caption"
               v-if="resultArray.length > 0">
            <h4>Input stream <i><b>"{{ inputStr }}"</b></i> contain(s)
              {{ resultArray.length }} string(s) with keyword <i><b>"{{ targetWord }}"</b></i> </h4>
            <ul>
              <li v-for="item in resultArray">
                {{item.str.slice(0,item.indexArr[0])}}
                <span v-for="(index, i) in item.indexArr">
                <span v-if="i < item.indexArr.length - 1">
                  <i class="colored">{{item.str.slice(index, index + targetWord.length)}}</i>
                  {{item.str.slice(index + targetWord.length, item.indexArr[i+1])}}
                </span>
                <span v-else>
                  <i class="colored">{{item.str.slice(index, index + targetWord.length)}}</i>
                  {{item.str.slice(index + targetWord.length)}}
                </span>
              </span> ({{ item.index + 1 }})
              </li>
            </ul>
          </div>
          <div class="caption" v-else>
            <h3>No matches!</h3>
          </div>
        </div>
      </div>

      <!-- Back button -->
      <span class="input-group-btn">
         <button class="btn btn-default"
                 type="button"
                 @click="back">Back</button>
      </span>
    </div>
    <!-- ___________________________________ -->

  </div>
</template>

<script>
export default {
  data() {
    return {
      targetWord: '',
      inputStr: '',
      inputArr: [],
      resultArray: [],
      switcher: 0,
    };
  },
  methods: {
    check() {
      this.inputArr = [];
      this.resultArray = [];

      if (this.inputStr && this.targetWord) {
        // convert string to array
        this.inputArr = this.inputStr
          .replace(/\s{2,}/g, ' ')
          .trim()
          .split(' ');

        this.inputArr.forEach((item, i) => {
          // prepare data for presentation
          // search each index of target word in strings
          const indexArr = [];
          let index = item.indexOf(this.targetWord);
          if (index >= 0) {
            indexArr.push(index);
            while (index !== -1 && index < item.length + 1) {
              index = item.indexOf(this.targetWord, index + 1);
              if (index >= 0) indexArr.push(index);
            }
            this.resultArray.push({
              str: item,
              index: i,
              indexArr,
            });
          }
        });
      }
      this.switcher = 1;
    },
    back() {
      this.switcher = 0;
      this.targetWord = '';
      this.inputStr = '';
    },
  },
  filters: {
    toColor(value) {
      if (value > 0) {
        return { 'alert-success': true };
      }
      return { 'alert-danger': true };
    },
  },
  computed: {
    indexC() {
      return this.resultArray.length;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .colored {
    color: red;
    text-decoration: underline;
  }
</style>
